<!DOCTYPE html>
<html lang="en" ng-app="sonarJavaApp">

<head>
    <meta charset="UTF-8">
    <title>Sonar Javascript Rules</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/sonarRulesJava.css">
    <script src='js/angular.min.js'></script>
    <script src='js/angular-sanitize.min.js'></script>
    <script src='js/jquery-1.11.1.js'></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/sonarRulesJavaScript.js"></script>
    <script src="js/sonarRulesJS.js"></script>
</head>

<body class='container' ng-controller="myCtrl as ctrl">
    <nav class="navbar navbar-fixed-top">
        <div class="container cstmHeader">
            <h1 class='text-center'>Sonar Rules For Javascript</h1>
            <!--<h6 class='text-center'>As of <em>Thu Sep 10 2015 03:30:02 GMT-0500</em></h6>-->
            <br/>
            <div class='text-center'><b>Select Severity:</b>
                <select ng-init="ctrl.severityDD = 'All'" ng-change="ctrl.filterBySeverity()" ng-model="ctrl.severityDD" ng-options="name for name in ctrl.severityArr"></select>
            </div>
            <div class='text-center'>
                <input size='120' type='text' ng-change="ctrl.severityDD='All'" ng-model='ctrl.searchTerm' placeholder='enter text to search' />
            </div>
        </div>
    </nav>
    <br/>
    <div class="container cstmBody">
        <ol>
            <li ng-repeat="j in ctrl.js | filter : ctrl.searchTerm"><a ng-click='ctrl.openPopUp($event,j.rule,$index)' ng-href='#' ng-class="{highLightColor: $index == ctrl.selected}" >{{j.rule.name}}</a>
            </li>
        </ol>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel" style="color:blue">{{ctrl.title}}</h4>
                    <div class="bigFont">
                        <span class="boldFont">Severity:</span>{{ctrl.severity}} <span class="boldFont">Category:</span>{{ctrl.debtChar}}
                        <span class="glyphicon glyphicon-arrow-right"></span> {{ctrl.debtSubChar}}
                        <span class="boldFont">Debt Cost:</span>{{ctrl.debtCost}}
                    </div>
                </div>
                <div class="modal-body">
                    <div class='answer' ng-bind-html="ctrl.desc"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-11824443-3', 'rushikesh.github.io');
        ga('send', 'pageview');
    </script>
</body>

</html>